<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787839226205-3iv6tg9sotkoa4ahmqk3nrtl89pli3sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787839226205-3iv6tg9sotkoa4ahmqk3nrtl89pli3sj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>787839226205-tj57kn5hcgkl4se0jh8vs8p93gtqaqn2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1cGi9LENq1qDKK0rYefkHnyWhKyKXJt4</string>
	<key>GCM_SENDER_ID</key>
	<string>787839226205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Redux-demo</string>
	<key>PROJECT_ID</key>
	<string>shop-357f8</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-357f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787839226205:ios:5792826e45fd10de1258b4</string>
	<key>DATABASE_URL</key>
	<string>https://shop-357f8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>